# 공통
node_modules/
out/
.next/
dist/
.env
.env.local
.history

# 프론트엔드
./01.frontend/.next/
./01.frontend/out/
./01.frontend/node_modules/

# 백엔드 (FastAPI 쓸 경우)
__pycache__/
./02.backend/__pycache__/
./02.backend/env/
./02.backend/.venv/
./02.backend/.pytest_cache/
./02.backend/node_modules/  # 혹시 backend에도 node 환경이 있으면

# IDE
.vscode/